<?xml version="1.0" encoding="utf-8"?> 

<PARAMETERS> 
	<!-- Localization parameters -->
	<param>
		<name>alpha</name>  <!-- pairwise term weighting parameter -->
		<value>3</value>
	</param>
	<param>
		<name>beta</name>  <!-- unary term weighting parameter -->
		<value>1</value>
	</param>
	<param>
		<name>min_area</name>  <!-- threshold for lession area -->
		<value></value>
	</param>
	<param>
		<name>max_area</name>  <!-- threshold for lession area -->
		<value></value>
	</param>
	<param>
		<name>min_compactness</name>  <!-- threshold for lession compactness -->
		<value></value>
	</param>
	
	<!-- Smoothing parameters -->
	<param name = 'sigma', value = 1>  <!-- gaussian blurr -->
	<param name = 'sigma_range', value = 0.05>  <!-- bilateral filter -->
	<param name = 'sigma_spatial', value = 15>  <!-- bilateral filter -->
	<param name = 'weight', value = 0.05>  <!-- total variation filter -->

	
	<!-- General parameters -->
	<win_width>350</win_width>  <!-- windowing parameter -->
	<win_level>50</win_level>  <!-- windowing parameter -->
	<working_voxel_size_mm>2</working_voxel_size_mm>  <!-- size of voxel site --> 
	<unaries_as_cdf>1</unaries_as_cdf>  <!-- whether to estimate the prob. model of outliers as cumulative density function -->
	
	<!-- Color model parameters -->
	<perc>0.3</perc>  <!-- what portion of liver parenchym around peak is used to calculate std of liver normal pdf -->
	<k_std_h>3</k_std_h>  <!-- weightening parameter for sigma of normal distribution of healthy parenchym -->
	<k_std_t>3</k_std_t>  <!-- weightening parameter for sigma of normal distribution of tumor -->
	<hack_hypo_mu>0</hack_hypo_mu>  <!-- -->
	<hack_hypo_sigma>0</hack_hypo_sigma>  <!-- -->
	<hack_hyper_mu>0</hack_hyper_mu>  <!-- -->
	<hack_hyper_sigma>0</hack_hyper_sigma>  <!-- -->
	<hack_healthy_mu>0</hack_healthy_mu>  <!-- -->
	<hack_healthy_sigma>0</hack_healthy_sigma>  <!-- -->
	
	<!-- <></> -->

</PARAMETERS> 